* {
    box-sizing: border-box;
    color: #93b8d3;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: #29538d;
}

header {
    display: flex;
    justify-content: space-between;
}

header .link {
    font-size: 40px;
    text-decoration: none;
    margin-top: 40px;
}

header .link:hover {
    color: white;
}

a:hover {
    color: white;
}

.welcome-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.form-wrap {
    display: flex;
    flex-direction: column;
}

.form-wrap input {
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    background-color: #93b8d3;
    border: none;
    color: #29538d;
}

.form-wrap button {
    width: 100px;
    height: 25px;
    margin-top: 20px;
    background-color: #f7b633;
    color: #29538d;
    border-color: #29538d;
    border-radius: 4px;
}

button,
.button {
    width: 110px;
    height: 25px;
    margin-top: 20px;
    background-color: #f7b633;
    color: #29538d;
    border-color: #29538d;
    border-radius: 4px;
}

.button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    font-family: sans-serif;
    padding-top: 3px;
}

button:hover,
.button:hover {
    border-color: white;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container {
    border: 1px solid #93b8d3;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 510px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
}

.profile-container p {
    padding: 0 100px;
    text-align: center;
}

.bioeditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bioeditor p {
    padding: 0 50px;
    font-size: 25px;
}

textarea {
    border: 1px solid #93b8d3;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 300px;
}

textarea:hover {
    border-color: white;
}

.uploader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    height: 200px;
    max-height: 100%;
    border: 1px solid #93b8d3;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 20px;
}

.uploader-form h3,
.uploader-form input {
    color: #29538d;
}

.userpic {
    max-height: 150px;

    border-radius: 20px;
}

.find-people-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.find-people-container li {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.find-people-container p {
    width: 100%;
}

.user-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-container,
.wannabes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.friends-container div,
.wannabes-container div {
    margin: 30px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-messages-list {
    border: 1px solid #93b8d3;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 300px;
    width: 600px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.chat-message-item {
    display: flex;
}

.chat-message-sender {
    display: inline-block;
    margin: auto 5px;
    font-style: italic;
}

.chat-input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 80px;
    color: #29538d;
    font-size: 20px;
}

.chat-message-item p:last-child {
    display: inline-block;
    margin: auto 10px;
}

.chat-input::placeholder {
    color: #29538d;
    font-size: 20px;
}

.logout-button {
    height: 20px;
    border-radius: 3px;
}

.error {
    color: tomato;
}

/* @media (min-width: 576px) {
    .find-people-container {
        display: flex;
        flex-direction: column;
    }

    .find-people-container li,
    .friends-container,
    .wannabes-container {
        display: flex;
        flex-direction: column;
    }

    .userpic {
        width: 180px;
    }
} */
